<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0qUUI3bewudHhiRfdZuaaHFvOjh-iOnk</string>
	<key>GCM_SENDER_ID</key>
	<string>520141999796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motivation</string>
	<key>PROJECT_ID</key>
	<string>motivation-71570</string>
	<key>STORAGE_BUCKET</key>
	<string>motivation-71570.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:520141999796:ios:ace6ae3777b726fa2751e1</string>
</dict>
</plist>
